body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    padding: 0px;
    max-width: 800px;
    margin: 0 auto;

}

menu {
    font-size: 0.8em;
    background-color: aliceblue;
    margin: 0;
    padding: 0.2em;
    font-weight: 800;

    li {
        display: inline;
        padding: 0 0.5em;
    }

    li:hover {
        background-color: cadetblue;
        color: white;
        cursor: pointer;
    }
}

article {
    border: 1px solid grey;
    margin: 2px;
    padding: 0 0.5em 0.5em 0.5em;
    border-radius: 0.5em;

    .ref {
        background-color: beige;
        font-size: 0.8em;
        font-weight: 200;
        margin-top: -1em;
        margin-left: -1em;
        font-family: serif;
        padding: 0.5em;
        border-radius: 0.5em;
        display: inline-block;
        border 2px solid white;
    }

    .note_content {
        min-height: 5em;
    }

    *[contenteditable="plaintext-only"] {
        border: none;
        outline: none;
        background-color: #fafafa;
    }


}
