body {
    
}


section {
     margin: 2px;
}



.weatherFrame div:last-child {
  display: none 
}

.weatherFrame { 
   border-style: none;
    width: 216px; 
    height: 300px;
    margin: 1px;
    background-color: #F0F0F0;
}
